.content > .container > .row > .col-sm-8 > p > em > a {
    color: #866fa0;
}

.content > .container > .row > .col-sm-8 > dt {
    font-size: 1.4rem;
}

.content > .container > .row > .col-sm-8 > p > em > a:hover {
    text-decoration: none;
}